.card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
}

.card__image {
  background: #b8b8b8;
  display: flex;
  padding-top: 10px;
  justify-content: center;
  align-items: start;
  height: 180px;
}

.card__info {
  display: flex;
  flex-direction: column;
  background: var(--black);
  color: var(--white);
  min-height: 140px;
  padding: 10px;
}
